@import url('https://fonts.googleapis.com/css?family=Heebo:300&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Heebo', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

:root {
  --primary-color: #000;
  --secondary-color: #fff;
}

html {
  transition: all 0.5s ease-in;
}

.container {
  display: flex;
  flex-direction: column;
}

button {
  width: 100px;
  height: 25px;
  cursor: pointer;
}

#new-button {
  background-color: steelblue;
  border: 0;
  border-radius: 5px;
  color: white;
  margin: 5px 0;
  cursor: pointer;
}

#div-task {
  width: 100px;
  height: 25px;
  background: greenyellow;
}

